*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
header{
    height: 84px;
    background-color: rgb(175, 245, 221);
    padding: 2rem;
}
.logo{
    width: 2.5rem;
    height:2.5rem;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.navlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.navlist a{
    color: black;
}
.navicon{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
#menubutton2{
    border: none;
    background-color:rgb(175, 245, 221); 
}
.section1{
    padding: 1rem;
    margin-top: 3rem;
    background-color: antiquewhite;
  }
  .section2{
    padding: 3rem;
    margin-top: 3rem;
    background-color: rgb(247, 228, 202);
    margin-bottom: 3rem;
  }
  .maintext{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .maintext h1{
    color: orangered;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
  }
  .maintext p{
    color: rgb(231, 101, 54);
    max-width: 375px;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
  }
  .main-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8rem;
  }
  .main-img img{
    width: 15rem;
  }
  .maintext h2{
    color: rgb(255, 0, 0);
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
  }
  #sec2p{
    color: #d84b4b;
    max-width: 375px;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
  }
  .section3{
   
     padding: 1rem;
     margin-top: 3rem;
     margin-left: 2rem;
     margin-bottom: 5rem;
  }
  .article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .article p{
    width: 222px;
    margin-bottom: 1.5rem;
    color: rgb(79, 80, 141);
  }
  .article ul{
    width: 222px;
    color: #a54ca5;
  }
h3{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #2d0bf0;
}
h4{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #ff00d4;
}
.h4-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color:rgb(247, 228, 202) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
}
footer .logo{
    margin-top: 7rem;
    width: 5rem;
    height:5rem;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
    gap: 5rem;
}
footer h3{
    color: #000;
}






  @media screen and (min-width: 448px){
.maintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  }
@media screen and (min-width: 799px) {
    .menubutton{
        display: none;
    }
  
  }
  @media screen and (max-width: 799px) {
  .navlist{
    display: none;
  }
  .main-img{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section3 .container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.article p{
    width: 100%;
}
  }
  